@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


.clear {
    clear: both;
}

body {
    background-color: #34495e;
    color: #c8c8c8;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    line-break: 28px;
    margin: 0;
    padding: 0;
}

header {
    
}